@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main {
    text-align: center;
    background-color: #0af2cf;
    height: 15vh;
    font-family: "Roboto";
    font-style: italic;
    font-weight: bold;
    border-radius: 15px;
}

.main2 {
    height: auto;
    background-color: #43a4ba;
    border-radius: 20px;
}
.second {
    min-height:100vh;
    background-color: #e3cd0b;
    padding:30px;
}
.headp{
    text-decoration: underline;
}
.para1{
    color: white;
}
.card1{
    width: 50%;
    margin-right:50px;
}
.image2{
    width:350px;
    height:170px;
}


.image-item {
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image1 {
    border-radius: 15px;
    width:400px;
    height:200px;
}


.button {
    margin: 10px;
    border-radius:15px;
    /* margin-right: 35px; */
}
.button1 {
    margin: 10px;
    background-color:#0bde2e;
    font-weight:500;
    font-size:20px;
    border:1px solid black;
    width:180px;
    height:50px;
    border-radius:15px;


    /* margin-right: 35px; */
}


.head {
    text-decoration: underline;
    text-decoration-color: #db190b;
}

.para {
    text-decoration: underline;
    text-decoration-color: #b50b33;
    text-decoration-style: dashed;
    font-size: 20px;
}

.scroll {
    text-decoration: underline;
    text-decoration-color: #09b2e0;
    text-decoration-style: dotted;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.content-hide{
    display:none;
}
